<section class="featured-item-section">
	<div class="uk-grid-match uk-flex uk-flex-middle uk-grid-divider" uk-grid>

		<div class="featured-item-img uk-width-1-2@s">
			<img src="{{ _x('https://picsum.photos/600/600', 'Image link', 'featured-item')|e('esc_url') }}" alt="{{ _x('', 'Image alt text', 'featured-item')|e('esc_html') }}" width="600" height="600">
		</div>

		<div class="uk-width-1-2@s uk-text-center uk-text-left@s">

			<h3 class="featured-item-title">
				{{ _x('Lorem ipsum', 'Title', 'featured-item')|e('esc_html') }}
			</h3>

			<p class="featured-item-details uk-margin-small">
				{{ _x( 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.', 'Details', 'featured-item')|e('wp_kses_post') }}
			</p>

			<div class="featured-item-button uk-margin-top">
				<a class="uk-button uk-button-text" href="{{ _x('#', 'Button link', 'featured-item')|e('esc_url') }}">
					{{ _x('Click here', 'Button text', 'featured-item')|e('esc_html') }}
				</a>
			</div>

		</div>

	</div>
</section>
